# APP_NAME = Connect
APP_NAME = 
NEXT_PUBLIC_APP_URL =
# NEXT_PUBLIC_APP_URL = https://scribin.netlify.app

# DATABASE_URL = 
# used rahulviijay
DATABASE_URL = 

# used rahulviijay
# REDIS_URL=

# used rahulviijay
KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_ISSUER_URL=
KINDE_SITE_URL=
KINDE_SITE_URL=
KINDE_POST_LOGOUT_REDIRECT_URL=
KINDE_POST_LOGIN_REDIRECT_URL=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_URL=

# PUBLIC_WORKER_URL =
PUBLIC_WORKER_URL =
WORKER_API_SECRET =